<%- include partials/header.ejs %>
    <%- include counter_small.ejs%>
    <h1>The Question <%= data.current %></h1>
    <div style="padding: 40px">
        <img style="height: 400px; width: 400px" src=<%= data.path %> alt="Hint for the question no.">
        <form action=<%= data.action %> method="POST">
        <input type="text" name="answer">
        <button>Answer</button>
        </form>
        <form id="skipForm" action=<%= data.skipAction%> method="POST">
        <button id="skipThis">Skip</button>
        </form>
        <script src="../js/question.js"></script>
    </div>
    <script>
        const skipThis = document.getElementById('skipThis');
        skipThis.addEventListener('click', (e) => {
            e.preventDefault();
            if(confirm(`Are you want to skip this question? \n(You will not be able to attend the question again.) \nPress OK to skip this question.`)) {
                document.getElementById('skipForm').submit();
            }
        })
    </script>
</body>
</html>